keras==3.4.1
lazy-object-proxy==1.10.0
matplotlib==3.8.4
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
notebook==7.2.2
numpy==1.26.4
pandas==2.2.2
python==3.11.5
scikit-learn==1.4.2
scipy==1.13.0
tensorflow==2.15.0
toolz==0.12.1